{
    "application.fingerprint" : "dOw3eb8pdkm4vX0lewn3z+bPOCJAEb1YlooKlyeVadqRevwQzbyfSp2M03tqhL9140V5aLzAbupE76Z1O8MkuA==",
    "application.language" : "zh-CN",
    "application.masterPassword" : true,
    "application.windowOpacity" : 0.90000000000000002,
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.reimportShellSessions" : false,
    "terminal.text.hiddenMargins" : [ "symbol", "blank", "number" ],
    "text.zoomFactor" : 1
}
